<div class="container">
    <div class="row">
        <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Lista Trabajadores</h6>
                    <div class="example">
                        <button class="btn btn-primary  mx-2" type="button"
                            (click)="openFormModalTrabajadores(lgModal)">Agregar Trabajador</button>
                        <button class="btn btn-primary  mx-2" type="button"
                            (click)="openFormModalProfesion(content)">Agregar Profesión</button>
                    </div>
                    <br>
                    <br>
                    <div class="table-responsive">
                        <ngx-datatable class="bootstrap" [rows]="rowsTrabajador" [loadingIndicator]="loadingIndicator"
                            [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">
                            <ngx-datatable-column name="Imagen" prop="avatar" [width]=50>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <img [src]="devuelveImagen(row.avatar)" alt="Profile" style="-border-radius: 50%; width: 24px; height: 24px;"> 
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Usuario" prop="username" [width]=100></ngx-datatable-column>
                            <ngx-datatable-column name="Nombre Completo">
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{ row.nombres }} {{ row.apellido_paterno }} 
                                  </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Rol" prop="nombre_rol" [width]=50></ngx-datatable-column>
                            <ngx-datatable-column name="Correo" prop="email" [width]=150></ngx-datatable-column>
                            <ngx-datatable-column name="Acciones">
                                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                    <i title="Editar Trabajador" class="icono-mdi mdi mdi-pencil" (click)="editTrabajadores(row.id, lgModal)"></i>&nbsp;
                                    <i title="Eliminar Trabajador" class="icono-mdi mdi mdi-delete-forever" (click)="deleteTrabajadores(row.id)"></i>&nbsp;
                                    <i title="Asignar Servicios" class="icono-mdi mdi mdi-arrow-down-right" (click)="claseServicio.formOpenModalServiciosTrabajadores(row.id, formModalServiciosTrabajadores)"></i>&nbsp;
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #lgModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="cerrarFormModalTrabajadores()"></button>
        </div>
        <form [formGroup]="formTrabajadores" (ngSubmit)="saveTrabajador()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Imagen</label>
                        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                        <img *ngIf="mostrarMiniatura" src="{{ avatar }}" style="-border-radius: 50%; width: 24px; height: 24px;">
                    </div>
                    <div class="col-md-6">
                        <label for="nombres">Firma</label>
                        <input class="form-control" type="file" id="formFile" (change)="onFileSelected($event)">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Usuario <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="usuario" name="usuario">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('usuario')?.hasError('required') && formTrabajadores.get('usuario')?.touched">
                            El nombre de usuario es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="nombres">Clave <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="password" class="form-control" formControlName="clave" name="clave">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('clave')?.hasError('required') && formTrabajadores.get('clave')?.touched">
                            La clave es obligatoria.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">RUT <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="rut" name="rut">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="nombres">Nombres <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="nombres" name="nombres">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('nombres')?.hasError('required') && formTrabajadores.get('nombres')?.touched">
                            El mombre es obligatorio.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Ap. Paterno <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="paterno" name="paterno">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('paterno')?.hasError('required') && formTrabajadores.get('paterno')?.touched">
                            El apellido paterno es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="dateOfBirth">Ap. Materno <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="materno" name="materno">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('materno')?.hasError('required') && formTrabajadores.get('materno')?.touched">
                            El apellido materno es obligatorio.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Dirección <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="direccion" name="direccion">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('materno')?.hasError('required') && formTrabajadores.get('materno')?.touched">
                            El apellido materno es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="dateOfBirth">Teléfono <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="telefono" name="telefono">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('materno')?.hasError('required') && formTrabajadores.get('materno')?.touched">
                            El apellido materno es obligatorio.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Correo <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="correo" name="correo">
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('correo')?.hasError('required') && formTrabajadores.get('correo')?.touched">
                            El correo es obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="dateOfBirth">Rol <span class="asterisk">*</span></label>
                        <ng-select [items]="rolesRows" formControlName="rol" name="rol" bindLabel="nombre_rol"
                            bindValue="id" placeholder="Selecione Rol..." [searchable]="false">
                        </ng-select>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('rol')?.hasError('required') && formTrabajadores.get('rol')?.touched">
                            El rol obligatorio.
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Profesión <span class="asterisk">*</span></label>
                        <ng-select [items]="arrayProfesiones" formControlName="profesiones" name="profesionesSelect"
                            bindLabel="profesion" bindValue="id" placeholder="Selecione profesión..." [searchable]="false">
                        </ng-select>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('profesiones')?.hasError('required') && formTrabajadores.get('profesiones')?.touched">
                            La profesión obligatorio.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="dateOfBirth">¿Prestador de servicio? <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" formControlName="prestadorServicio"
                                    name="prestadorServicio" id="radioInlineSelected" value="Si">
                                <label class="form-check-label" for="radioInlineSelected">
                                    Sí
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" formControlName="prestadorServicio"
                                    name="prestadorServicio" id="radioInlineDisabled" value="No">
                                <label class="form-check-label" for="radioInlineDisabled">
                                    No
                                </label>
                            </div>
                        </div>
                        <div class="text-danger mt-1" *ngIf="formTrabajadores.get('prestadorServicio')?.hasError('required') && formTrabajadores.get('prestadorServicio')?.touched">
                            Debe elegir Si ó No en prestación de servicio.
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" #idTrabajador name="idTrabajador" [value]="idTrabajador">
                <button type="submit" class="btn btn-outline-dark"
                    [disabled]="formTrabajadores.invalid">{{titleActionForm}}</button>
            </div>
        </form>
    </ng-template>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ title }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="cerrarFormModalProfesion()"></button>
        </div>
        <form [formGroup]="formProfesion" (ngSubmit)="saveProfesion()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="dateOfBirth">Profesión</label>
                        <div class="input-group">
                            <input type="text" class="form-control" formControlName="profesion" name="profesion">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" #idProfesion name="idProfesion" [value]="idProfesion">
                        <button type="submit" class="btn btn-outline-dark"
                            [disabled]="formProfesion.invalid">{{titleActionForm}}</button>
                    </div>
                </div>
                <ngx-datatable class="bootstrap" [rows]="rowsProfesiones" [loadingIndicator]="loadingIndicator"
                    [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto">
                    <ngx-datatable-column name="Profesión" prop="profesion"></ngx-datatable-column>
                    <ngx-datatable-column name="Acciones">
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <button type="button" class="btn btn-primary" (click)="editProfesion(row.id)">Editar</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="deleteProfesion(row.id)">Eliminar</button>&nbsp;
                            <button type="button" class="btn btn-danger" (click)="deleteProfesion(row.id)">Eliminar</button>&nbsp;
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </form>
    </ng-template>
    <ng-template #formModalServiciosTrabajadores let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{ claseServicio.titleForModalServiciosTrabajadores }}</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="claseServicio.closeFormModalServiciosTrabajadores()"></button>
        </div>
        <form [formGroup]="claseServicio.formServiciosTrabajadores" (ngSubmit)="claseServicio.saveServiciosaUsuarios()">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <ngx-datatable class="bootstrap" [rows]="claseServicio.arrayServicioTrabajadores" [loadingIndicator]="loadingIndicator" 
                        [selectionType]="SelectionType.checkbox"
                        [columnMode]="ColumnMode.force" [footerHeight]="50" [limit]="10" rowHeight="auto" (activate)="onActivate($event)"
                        (select)="onSelect($event)">
                            <ngx-datatable-column name="Profesión" prop="profesion"></ngx-datatable-column>
                            <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
          >
            <ng-template
              ngx-datatable-header-template
              let-value="value"
              let-allRowsSelected="allRowsSelected"
              let-selectFn="selectFn"
            >
              <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            </ng-template>
            <ng-template
              ngx-datatable-cell-template
              let-value="value"
              let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn"
            >
              <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
            </ng-template>
          </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                    <div class="col-md-6">
                        <label for="dateOfBirth">Usuario</label>
                        <div class="input-group">
                            <label>{{ nombreUsuario }}</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <!-- <ul class="list-group" *ngFor="let arrayEspecialidad of claseServicio.listaEspecialidades">
                            <li class="list-group-item" (click)="claseServicio.viewServicio(arrayEspecialidad.id)">{{  arrayEspecialidad.especialidad  }}</li>
                        </ul> -->
                    </div>
                    <div class="col-md-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <input type="hidden" #idProfesion name="idProfesion" [value]="idProfesion">
                        <button type="submit" class="btn btn-outline-dark"
                            [disabled]="formProfesion.invalid">{{titleActionForm}}</button>
                    </div>
                </div>

            </div>
        </form>
    </ng-template>
</div>